
body{
	margin: 0;
	padding: 0;
}
.blue-table {
	background-color: #ADD8E6; /* צבע תכלת בהיר */
  }
  .top-bar {
	background-color: rgb(184, 129, 183);
	height: auto;
	width: 100%;
	display: flex;
	color: #000;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.spacer {
	margin: 100 px;
	
}
#menu
{

}
#menu ul li a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
#menu ul {
	list-style-type: none;
	margin: 5;
	padding: 0;
	display: flex;
}

#menu ul li {
	margin-right: 30px;
	
}
.imag {
	display: flex; justify-content: center; align-items: center;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;

    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* This makes the width of the h1 element shrink to fit its content */
}


#menu ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: center;
}

#menu li {
display: inline;
margin: 0 15px;
}

#menu a {
color: white;
text-decoration: none;
font-size: 18px;
}

#menu a:hover {
text-decoration: underline;
}

.section {
padding: 20px;
width: 80%;
max-width: 800px;
margin: 0 auto;
background: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

h1 {
text-align: center;
color: #333;
}

.email-button {
display: block;
margin: 20px auto;
padding: 10px 20px;
font-size: 18px;
background-color: #007BFF;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.email-button:hover {
background-color: #0056b3;
}

#emailForm {
display: none;
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
display: flex;
flex-direction: column;
align-items: center;
}

label {
margin: 10px 0 5px;
}

input, textarea, select {
width: 100%;
max-width: 400px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
padding: 10px 20px;
background-color: #809bb8;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #010508;
}

.fb-like {
    background-color:  rgb(184, 129, 183);
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .fb-like:hover {
    background-color: #145993;
  }